.side-by-side {
	display: flex;
	column-gap: 1em;
}

#books {
	width: 250px;
	display: flex;
	flex-flow: wrap;
	row-gap: 1.5em;
}

.book {
	width: 250px;
	height: 130px;
	overflow: hidden;
	position: relative;
	cursor: pointer;
	background-color: rgb(27, 27, 27);
	padding: .2em;
	border-radius: .5em;
}

.book:hover {
	background-color: rgb(46, 43, 46);
}

.book::after {
	content: "...";
	position: absolute;
	right: 0;
	bottom: 0;
	padding-left: 5px;
	padding-right: 5px; 
	background: inherit;
}

.book h2 {
	/* display: inline; */
	margin-bottom: 0;
}

.book p {
	display: inline;
}

.small-thumbnail {
	float: left;
	height: 100px;
	width: 60px;
	flex-shrink: 0;
	display: inline;
	margin-right: .5em;
	border-radius: .5em;
}

.short-blurb {
}

#book-info {
	border: 1px whitesmoke solid;
	border-radius: .5em;
	flex-grow: 1;
	max-width: 500px;
	padding: .5em;
}

#title {}

#thumbnail {
	float: left;
	height: 300px;
	width: 135px;
	flex-shrink: 0;
	display: inline;
	margin-right: .5em;
	border-radius: .5em;
}

#blurb {

}

hr {
	margin-bottom: 1em;
}