body {
	background-color: rgb(27, 27, 27);
	color: whitesmoke;
	line-height: 1.5;
	font-family: Arial, Helvetica, sans-serif;
	background-image: linear-gradient(
    to right,
    rgb(27, 27, 27) 0px,
    rgb(27, 27, 27) 700px,
    rgb(14, 14, 14) 1400px,
	rgb(0, 0, 0) 2000px
  );
}

b {
	color: white
}

h1 {
	font-size: 20pt;
}

h2 {
	padding-top: 0.1px;
	margin-top: 0;
	font-size: 16pt;
	line-height: 1;
}

h3 {
	padding-top: 0.1px;
	margin-top: 0;
	margin-bottom: 0;
	font-size: 13pt;
}

p, a, li {
	font-size: 11pt;
}

.label {
	color: rgb(148, 124, 155);
}

hr {
	border-color: rgb(156, 82, 185);
}

.icon-button {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	height: 30px;
	width: 30px;
	font-size: 18px;
	cursor: pointer;
	background-color: rgb(78, 66, 78);
	text-decoration: none;
	color: rgb(216, 140, 247);
}

.link-button {
	display: inline-block;
	padding: 6px .2em;
	cursor: pointer;
	text-decoration: none;
	color: whitesmoke;
	flex-grow: 1;
}

.link-entry {
	margin-left: -1em;
	list-style-type: none;
	border-radius: .5em;
	display: flex;
}

.link-entry:hover {
	list-style-type: none;
	background-color: rgb(46, 43, 46);
	
}